<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.trusdata.tlhf.pact.mapper.PactMapper">
	<resultMap id="BaseResultMap" type="com.trusdata.tlhf.pact.bean.BasicBean">
  		<result property="id" column="id" jdbcType="VARCHAR"/>
  		<result property="entrusted_id" column="entrusted_id" jdbcType="VARCHAR"/>
  		<result property="input_name" column="input_name" jdbcType="VARCHAR"/>
  		<result property="create_dt" column="create_dt" jdbcType="DATE"/>
  		<result property="upd_name" column="upd_name" jdbcType="VARCHAR"/>
  		<result property="upd_dt" column="upd_dt" jdbcType="DATE"/>
  		<result property="tlhf_name" column="tlhf_name" jdbcType="VARCHAR"/>
 		<result property="entrusted_name" column="entrusted_name" jdbcType="VARCHAR"/>
 		<result property="obj_name" column="obj_name" jdbcType="VARCHAR"/>
	 	<result property="obj_addr" column="obj_addr" jdbcType="VARCHAR"/>
 		<result property="const_name" column="const_name" jdbcType="VARCHAR"/>
  		<result property="const_unit_name" column="const_unit_name" jdbcType="VARCHAR"/>
  		<result property="design_name" column="design_name" jdbcType="VARCHAR"/>
  		<result property="supervision_name" column="supervision_name" jdbcType="VARCHAR"/>
  		<result property="struc_type" column="struc_type" jdbcType="VARCHAR"/>
  		<result property="area" column="area" jdbcType="VARCHAR"/>
  		<result property="pressure" column="pressure" jdbcType="VARCHAR"/>
  		<result property="sampling_dt" column="sampling_dt" jdbcType="DATE"/>
  		<result property="check_type" column="check_type" jdbcType="VARCHAR"/>
  		<result property="sealed_time" column="sealed_time" jdbcType="VARCHAR"/>
  		<result property="sampling_temperature" column="sampling_temperature" jdbcType="VARCHAR"/>
  		<result property="check_dt" column="check_dt" jdbcType="DATE"/>
  		<result property="check_depend" column="check_depend" jdbcType="VARCHAR"/>
  		<result property="check_device" column="check_device" jdbcType="VARCHAR"/>
	</resultMap>
	<resultMap id="BaseResultMap1" type="com.trusdata.tlhf.pact.bean.PactInputListBean">
		<result property="id1" column="id" jdbcType="VARCHAR" />
		<result property="input_date" column="create_dt" jdbcType="VARCHAR" />
		<result property="inputer" column="input_name" jdbcType="VARCHAR" />
		<result property="call_way" column="call_way" jdbcType="VARCHAR" />
	</resultMap>
	<resultMap id="BaseResultMap2" type="com.trusdata.tlhf.common.bean.TlhfTopicBean">
		<result property="id" column="id" jdbcType="VARCHAR" />
		<result property="obj_name" column="obj_name" jdbcType="VARCHAR" />
		<result property="entrusted_id" column="entrusted_id" jdbcType="VARCHAR" />
		<result property="entrusted_date" column="entrusted_date" jdbcType="VARCHAR" />
		<result property="input_name" column="input_name" jdbcType="VARCHAR" />
  		<result property="create_dt" column="create_dt" jdbcType="DATE"/>
  		<result property="upd_name" column="upd_name" jdbcType="VARCHAR"/>
  		<result property="upd_dt" column="upd_dt" jdbcType="DATE"/>
	</resultMap>
	
	<!--查询条件 -->
	<sql id="sqlCondition">
		<![CDATA[
			FROM tlhf.indoor_air 
			WHERE 1 = 1
		]]>
		<if test="t_work_user !=null and t_work_user != ''">
			AND input_name = #{t_work_user}
		</if>
	</sql>
	
	<!-- 取得总数 -->
	<select id="selectCount" resultType="java.lang.Integer"
		parameterType="com.trusdata.tlhf.common.bean.TlhfUserBean">
		SELECT count(0)
		<include refid="sqlCondition" />
	</select>
	
	<!-- 取得所有信息 -->
	<select id="selectInfo" parameterType="com.trusdata.tlhf.common.bean.TlhfUserBean"
		resultMap="BaseResultMap1">
		SELECT id, create_dt, input_name
		<include refid="sqlCondition" />
		LIMIT #{itemStart4Sql}, #{itemsInPage}
	</select>
	
    <delete id="del" parameterType="com.trusdata.tlhf.pact.bean.PactIdentifyBean" >
		DELETE FROM tlhf.indoor_air WHERE id = #{id1}
    </delete>
	
	<!-- 取得总数 -->
	<select id="selectTopicCount" resultType="java.lang.Integer"
		parameterType="com.trusdata.tlhf.common.bean.TlhfUserBean">
		SELECT count(0) FROM tlhf.t_topic WHERE 1 = 1
		<if test="t_work_user !=null and t_work_user != ''">
			AND input_name = #{t_work_user}
		</if>
	</select>
	
	<!-- 取得所有信息 -->
	<select id="selectTopicInfo" parameterType="com.trusdata.tlhf.common.bean.TlhfUserBean"
		resultMap="BaseResultMap2">
		SELECT id, obj_name, entrusted_id, entrusted_date, input_name, create_dt, upd_name, upd_dt FROM tlhf.t_topic WHERE 1 = 1
		<if test="t_work_user !=null and t_work_user != ''">
			AND input_name = #{t_work_user}
		</if>
		LIMIT #{itemStart4Sql}, #{itemsInPage}
	</select>
	
    <insert id="insertBasic" parameterType="com.trusdata.tlhf.pact.bean.BasicBean">
	insert into tlhf.t_basic 
	(id, entrusted_id, tlhf_name, entrusted_name, obj_name, obj_addr, const_name, const_unit_name, design_name, 
	supervision_name, struc_type, area, pressure, sampling_dt, check_type, sealed_time, sampling_temperature, 
	check_dt, check_depend, check_device, input_name, create_dt, upd_name, upd_dt
	)
	values
	(#{id}, #{entrusted_id}, #{tlhf_name}, #{entrusted_name}, #{obj_name}, #{obj_addr}, #{const_name}, #{const_unit_name}, #{design_name}, 
	#{supervision_name}, #{struc_type}, #{area}, #{pressure}, #{sampling_dt}, #{check_type}, #{sealed_time}, #{sampling_temperature}, 
	#{check_dt}, #{check_depend}, #{check_device}, #{input_name}, #{create_dt}, #{upd_name}, #{upd_dt}
	)
    </insert>
</mapper>